@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200&family=Roboto:wght@300;400;700&display=swap');

.full-wrapper {
  background-color: #fff;
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

.full-wrapper > .imgs {
  background-color: #fff;
  position: absolute;
  width: 375px;
  height: 44px;
  left: calc(50% - 375px / 2);
  top: 0;
}

.nav-wrapp {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 92px;
  width: 390px;
  left: 0;
  top: 44px;
  bottom: 0;
  margin-left: 20px;
}

.nav-wrapp > .logo {
  color: #6070ff;
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.nav-wrapp > .right-nav {
  position: static;
  width: 76px;
  height: 20px;
  right: 25px;
  top: 10px;
  color: #6070ff;
  left: 20%;
  bottom: 20%;
}

.content-wrapper {
  background-color: #fff;
  background-image: url(images/header-shapes\ mobile.png);
  align-items: flex-start;
  padding: 114px 24px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.content-wrapper > .header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
}

.content-wrapper > .about {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  color: #344563;
}

.content-wrapper > .connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -5px;
}

.content-wrapper > .socialmedia-icons > ul {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
  list-style-type: none;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  display: inline-flex;
  justify-content: space-around;
  margin-left: -55px;
}
